body {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

tbody {
  position: absolute;
  display: flex;
  flex-direction: row;
}

tbody tr {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

thead {
  position: flex;
  margin-left: -100px;
  margin-right: -90px;
}

th {
  display: inline-block;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 400px;
}