#inloggen input{
    width: 60%;

}
#inloggen{
    margin-left: 25%;
    padding-left: 5%;
}
#inloggen button{
    width: 60%;
    
}
#InlogKnop{
    width: 20%;
    margin-left: 40%;
    margin-right: 30%;
}

